@charset "utf-8";

/* .brand{
    background-color: palevioletred;
    position: absolute;
} */
.sub{
    background-color: darkcyan;
    position: relative;
    top: 100px;
    left: 200px;
    z-index: 1;
}

.quick{
    background-color: peru;
    position: fixed;
    z-index: 2;
    top:50px;
    right:50px;
}

div{
    position: relative;
}

p{
    background-color: yellow;
}

.note{
    background-color: lime;
    position: absolute;
    width: 300px;
    top:0;
    left:0;
}